body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1,
h2,
p {
	text-align: center;
}

.pics {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.pic {
	display: flex;
	flex-direction: column;
	margin: .5em;
}

.pic img {
	filter: brightness(100%);
	transition: 2s filter;
	z-index: 200;
}

.pic p {
	color: white;
	z-index: 2000;
	position: absolute;
	margin: 0;
	padding: .5em;
	font-size: 3em;
}

.pic div {
	display: flex;
}

.pic button {
	cursor: pointer;
	height: 4em;
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 1em;
}

.pic button:hover {
	opacity: .5;
}

.pic button:first-of-type {
	background: #870121;
}

.pic button:last-of-type {
	background: #23C469;
}
