body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1,
h2,
p {
	text-align: center;
}

.flash {
	position: fixed;
	background: white;
	border-bottom: 2px solid grey;
	top: 0;
	width: 100vw;
	z-index: 3000;
	opacity: 1;
	transition: opacity 3s;
}

.pics {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.pic {
	display: flex;
	flex-direction: column;
	margin: .5em;
}

.pic img {
	filter: brightness(100%);
	transition: 2s filter;
	z-index: 200;
}

.pic div {
	display: flex;
}

.pic button {
	cursor: pointer;
	height: 4em;
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 1em;
}

.active {
	background: red;
	color: red;
	opacity: .3;
	font-size: 3em;
}
